@import-normalize;

:root {
  --primary: #0000ff;
  --secondary: #5efc8d;
  --light-gray: #cccccc;
}

body {
  font-family: Helvetica;
}

h3 {
  margin: 0;
  padding: 0;
}

.ui-link {
  text-decoration: none;
  color: var(--primary);
}
